<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1">
				<li><a href="#/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li><a href="#/admin/users">Users</a></li>
				<li class="active">Create new user</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- register -->

	<div class="register">
		<div class="container">
			<div class="login-form-grids">
				<h5>Profile information</h5>

				<form name="vm.reviewForm" ng-submit="vm.NewUser()">

					<input type="text" placeholder="First Name" required ng-model="vm.name" class="register_margin">
					<div ng-show="vm.reviewForm.name.$dirty && vm.reviewForm.name.$invalid && vm.isSubmitted">
     			<p>Name is required field!</p>
 					</div>
					<input type="text" placeholder="Last Name" required ng-model="vm.surname" class="register_margin" >
					<div ng-show="vm.reviewForm.surname.$dirty && vm.reviewForm.surname.$invalid && vm.isSubmitted">
     			<p>Surname is required field!/p>
 					</div>

					<input type="text" placeholder="City" required  ng-model="vm.city" class="register_margin" >
					<div ng-show="vm.reviewForm.city.$dirty && vm.reviewForm.city.$invalid && vm.isSubmitted">
     			<p>City is required field!/p>
 					</div>
					<input type="tel" name="phone" placeholder="Phone number" required ng-pattern="/^[0-9]*$/" ng-model="vm.phone" class="register_margin">
					<div ng-show="vm.reviewForm.phone.$dirty && vm.reviewForm.phone.$invalid && vm.isSubmitted && !vm.reviewForm.phone.$error.pattern">
     			<p>Phone is required field!</p>
 					</div>
					<span class="my-notify-text" ng-show="vm.reviewForm.phone.$error.pattern && vm.isSubmitted">Invalid pattern!<br>Use numbers.</span>


				<h6>Login information</h6>

					<input type="text" placeholder="Username" required ng-model="vm.username" class="register_margin" >
					<div ng-show="vm.reviewForm.username.$dirty && vm.reviewForm.username.$invalid && vm.isSubmitted">
					<p>Username is required field!</p>
					</div>
					<div ng-if="vm.message" class="my-notify-error" role="alert">
					  <p>{{ vm.message }}</p>
					</div>
					<input type="email" name="email" placeholder="Email Address" required ng-model="vm.email" >
					<div ng-show="vm.reviewForm.email.$dirty && vm.reviewForm.email.$invalid && vm.isSubmitted && !vm.reviewForm.phone.$error.pattern">
     			<p>Email is required field!</p>
 					</div>
					<span class="my-notify-text" ng-show="vm.reviewForm.phone.$error.pattern && vm.isSubmitted">Invalid pattern! <br>Example: example@exm.com</span>

					<input type="password" placeholder="Password" required ng-minlength="6" ng-model="vm.password">
					<div ng-show="vm.reviewForm.password.$dirty && vm.reviewForm.password.$invalid && vm.isSubmitted">
						<p>Password is required field!</p>
					</div>
					<span class="my-notify-text" ng-show="'vm.password.length < 6' && vm.isSubmitted">Password must be longer than 6 characters</span>

					<div class="register-check-box">
						<div class="check"><label for="selector">Usertype: </label>
							<input type="radio" name="selector" ng-value="'user'" ng-model="vm.userType" style="margin-left:25px;">
								<label for="user">user</label>
								<input type="radio" name="selector" ng-value="'admin'" ng-model="vm.userType" style="margin-left:25px;">
									<label for="admin">admin</label>


						 </div>
							<div ng-if="vm.chmessage" class="my-notify-error"  role="alert">
							  <p>{{ vm.chmessage }}</p>
							</div>


 					</div>
					<input type="submit" value="Create user">
				</form>
			</div>
		</div>
	</div>
<!-- //register -->
