
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1">
				<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Login Page</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- login -->

	<div class="login"  ng-controller="loginController as vm">
		<div class="container">
		<h3>Login</h3>
		<div ng-if="vm.message" class="my-notify-error"  style="margin:10px;" role="alert">
		  {{ vm.message }}
		</div>
			<div class="login-form-grids">
				<form ng-submit="vm.login()">
					<input type="text" placeholder="Username" required=" " ng-model="vm.username" >
					<input type="password" placeholder="Password" required=" " ng-model="vm.password">
					<!--<div class="forgot">
						<a href="#">Forgot Password?</a>
					</div>-->
					<input type="submit" value="Login">
				</form>
			</div>
			<h4>For New People</h4>
			<p><a href="#/user/register">Register Here</a> (Or) go back to <a href="/">Home<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
		</div>
	</div>
<!-- //login -->
